<!doctype html>
<html>

<head>
  <title>What's For Dinner, Babe?</title>
  <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;300;400;500;600;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container-box">

    <div class="header">
      <h1><span class="fa fa-camera-retro"></span> Welcome <%= user.local.email.split('@')[0] %>
      </h1>
      <a href="/logout" class="btn btn-default btn-sm logout">Logout</a>
    </div>

    <div class="info">
      <div class="user-random">
        <!-- LOCAL INFORMATION -->
        <div class="user">
          <div class="well">
            <h3><span class="fa fa-user"></span> Local User Profile</h3>

            <% if (user.local.email) { %>
              <p>
                <strong>id</strong>: <%= user._id %><br>
                  <strong>email</strong>: <%= user.local.email %><br>
                    <span class="hide-pass"><strong>password</strong>: </span><span class="hidden password">
                      <%= user.local.password %>
                    </span>
              </p>

              <a href="/unlink/local" class="btn btn-default unlink">Unlink</a>
              <% } else { %>
                <a href="/connect/local" class="btn btn-default connect-local">Connect Local</a>
                <% } %>

          </div>
        </div>
        <div class="randomizer">
          <h3>Can't Decide on What You Want For Dinner?</h3>
          <h4>No worries! Try out our randomizer for a quick meal ideas!</h4>
          <p class="disclaimer">**Will only randomize restaurants from your list rated 3 stars - 5 stars**</p>
          <button id="randomizerBtn">Randomize Dinner Option</button>
          <div id="randomizedResult"></div>
        </div>
      </div>
      <div class="res-list-entry">
        <div class="entry">
          <h2>Add A Restaurant</h2>
          <% if (user.local.email) { %>
            <form action="/restaurants" method="POST">
              <div class="res-input">
      
                <label for="name">Restaurant Name:</label>
                <input type="text" placeholder="restaurant" name="name">
                <label for="lastVisited">Last Visited:</label>
                <input type="date" name="lastVisited">
                <label for="type">Cuisine Type:</label>
                <input type="text" placeholder="chinese, american, etc" name="type">
                <textarea rows="5" cols="50" placeholder="Leave a quick review..." name="msg"></textarea>


                <button type="submit">Submit</button>
              </div>
            </form>
        </div>
        <% } %>
          <div class="res-list">
            <h2>Restaurants We've Tried</h2>
            <section class="restaurants">
              <% for(var i=0; i<restaurants.length; i++) {%>
                <article class="restaurant">
                  <h4 class="name">
                    <%= restaurants[i].name %>
                      </h3>

                      <!-- Ayman helped me with this code (start) -->

                      <div class="stars">
                        <i class="fa fa-star-o <%= restaurants[i].star >= 1 ? 'active': '' %>"
                          data-id="<%= restaurants[i]._id %>"></i>
                        <i class="fa fa-star-o <%= restaurants[i].star >= 2 ? 'active': '' %>"
                          data-id="<%= restaurants[i]._id %>"></i>
                        <i class="fa fa-star-o <%= restaurants[i].star >= 3 ? 'active': '' %>"
                          data-id="<%= restaurants[i]._id %>"></i>
                        <i class="fa fa-star-o <%= restaurants[i].star >= 4 ? 'active': '' %>"
                          data-id="<%= restaurants[i]._id %>"></i>
                        <i class="fa fa-star-o <%= restaurants[i].star >= 5 ? 'active': '' %>"
                          data-id="<%= restaurants[i]._id %>"></i>
                      </div>

                      <!-- Ayman helped me with this code (end) -->

                      <p class="msg">
                        <%= restaurants[i].msg %>
                      </p>
                      <div class="type-date">
                        <div class="type-box">
                          <span>Cuisine:</span>
                          <span class="type">
                            <%= restaurants[i].type %>
                          </span>
                        </div>
                        <div class="date-box">
                          <span>Last Visit:</span>
                          <span class="lastVisited">
                            <%= restaurants[i].lastVisited %>
                          </span>
                        </div>
                      </div>

                      <div class="options">
                        <span>Edit <i class="fa fa-edit" aria-hidden="true" data-id="<%= restaurants[i]._id %>"></i></span>
                        <span><i class="fa fa-trash-o" aria-hidden="true" data-id="<%= restaurants[i]._id %>"></i></span>
                      </div>
                      <div class="editing hidden" id="editing_<%= restaurants[i]._id %>">
                        <h4>Update A Restaurant Entry</h4>
                        <% if (user.local.email) { %>
                          <form action="/restaurants/update?_method=PUT" method="POST">
                            <div class="res-input-b">
                              <div class="edit-input">
                                <input type="hidden" name="id" value="<%= restaurants[i]._id %>">
                                <input type="text" value="<%= restaurants[i].name %>" placeholder="restaurant"
                                  name="updateName">
                                <input type="date" value="<%= restaurants[i].lastVisited %>" name="updateLastVisited">
                                <input type="text" value="<%= restaurants[i]._type %>" placeholder="type of cuisine"
                                  name="updateType">
                              </div>
                              <textarea rows="5" cols="50" placeholder="Leave a quick review..."
                                name="updateMsg"><%= restaurants[i].msg %></textarea>
                              <button type="submit">Submit</button>
                            </div>
                          </form>
                      </div>
                      <% } %>
                </article>
                <% } %>
            </section>


          </div>
      </div>

    </div>

    <script src="main.js"></script>

</body>

</html>